<!DOCTYPE html>

<html lang = "es">

<head>
    
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Utilizando bootstrap</title>
      <meta name="description" content="Prototipo ">
      <link href = "../css/main.css" rel = "stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>

</head>
    
       
   
<body>  
    <h1> Vista de empleado </h1>
    <div class="container">
        <div class="row">
            <div class="col md-12 sm-12 lg-3">
                <div class="mycol">
                    <img src="../img/natdev_logo.png" alt="NatDev Logo" width="450" height="80">
 
                    <a href="/proyectos/crear_proyecto" class="waves-effect waves-light btn" id ="btnNuevoP"> Nuevo Proyecto </a> <br> 
                    <a href="/proyectos/todos" class="waves-effect waves-light btn" id ="btnNuevoP"> Todos los proyectos </a> <br> 
                    <a href="/casosdeuso/todos" class="waves-effect waves-light btn" id ="btnNuevoP"> Todos los casos de uso </a> <br>
                    <a href="/login/register" class="waves-effect waves-light btn" id ="btnNuevoP">Registrar nuevo usuario</a> <br> 
                    <a href="/tareas/nueva" class="waves-effect waves-light btn" id ="btnNuevoP"> Nueva tarea </a> <br> 
                    <a href="/login/logout" class="waves-effect waves-light btn" id ="btnNuevoP">Cerrar sesion</a> <br>           
                    
                </div>
                 
            </div>
            <div class="col md-12 sm-12 lg-9">
                <h1>Proyectos</h1> <br>
                <ul> 
                    <li> Nombre de proyecto    | Fecha inicial  | Fecha de entrega | <br> Detalles del proyecto </li>  
                    <li> Nombre de proyecto    | Fecha inicial  | Fecha de entrega | <br> Detalles del proyecto </li> 
                    <li> Nombre de proyecto    | Fecha inicial  | Fecha de entrega | <br> Detalles del proyecto </li>
                    
                </ul>

            </div>
        </div>
    </div>    



    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>


</html>