<div class="row">    
    <div class="col s6 m12">
      <div class="row center"> <!-- Esta es la barra blanca que se ve al fondo  -->
    
        <nav class="navbar navbar-expand-lg navbar-white bg-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="/proyectos/inicio"> <img src="/img/natdev_logo.png" alt="NatDev Logo" width="120" height="20">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#16B8D9">
                        Proyectos
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/proyectos/inicio" style="color:#16B8D9">Todos los proyectos</a></li>
                        <li><hr class="dropdown-divider "></li>
                        <li><a class="dropdown-item" href="/proyectos/crear_proyecto" style="color:#16B8D9">Nuevo Proyecto  </a></li>
                        
                        </ul>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proyectos/wbs" style="color:#16B8D9">WBS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#16B8D9">
                    Usuario
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/login/logout" style="color:#16B8D9">Cerrar sesión</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <!--  Poner aqui un if session.rol == 1   -->
                    <% if (rol == 1) {%>
                    <li><a class="dropdown-item" href="/login/register" style="color:#16B8D9">Registrar nuevo usuario  </a></li>
                    <% } %>
                    </ul>
                </li>
            
                </ul>
                
            </div>
            </div>
        </nav>

    </div>
    <div class = "col s12 m12"  > 
         <div class="d-none d-md-block"> 
             <h1 >  <%= titulo %>  </h1>   
        </div>
        <div class="d-none d-sm-xs-block d-md-none"> 
            hola<br> <br>
        </div> 
    </div>
</div>