.box {
    width: 100%;
    height: 100%;
    padding: 40px;
    position: center;
    background: linear-gradient(to right, #262945, #1B1D31);
    text-align: left;
    transition: 0.25s;

}

.box input[type="text"],
.box input[type="password"]

{
    border: 0;
    background: none;
    text-align: left;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 70%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.4s
}

.box input[type="date"]{
    border: 0;
    background: none;   
    text-align: left;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: auto;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s    
}

.box label{
    color:white;
    font-size: 20px
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box p {
    color: #D11149;
    font-weight: 150
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 75%;
    border-color: #2ecc71
}


.box input[type="date"]:focus {

    border-color: #2ecc71
}

.box button[type="submit"] {
    border: 0;
    background: none;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 10%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.oculto{
    visibility: hidden
}


.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: left;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: left
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}