<main class="container">
    <h2>Register</h2>
    <form action="/login/register" method="POST">
        <label for="IdEmpleado"> IdEmpleado  </label><input type="text" name="IdEmpleado" required>
        <label for="nombre">Nombre </label><input type="text" name="nombre" required>
        <label for="apellidos">Apellidos </label><input type="text" name="apellidos" required>
        <label for="correo"> Correo </label><input type="text" name="correo" required>
        <label for="contraseña">Contraseña</label><input type="password" name="contraseña" required>                
        <label for="IdRol ">Rol </label><input type="text" name="IdRol" required>
        <br><br>
        <button class="btn waves-effect waves-light" type="submit" name="action">Ingresar
            <i class="material-icons right">send</i>
        </button>
        <br><br><br>
                
    </form>
</main>
