<main class="container">
    <h2>Register</h2>
    <form action="/login/register" method="POST">
        <label for="nombre">Nombre</label><input type="text" name="nombre" required>
        <label for="usuario">Nombre de usuario</label><input type="text" name="usuario" required>
        <label for="password">Contraseña</label><input type="password" name="password" required>                
        <br><br>
        <button class="btn waves-effect waves-light" type="submit" name="action">Ingresar
            <i class="material-icons right">send</i>
        </button>
        <br><br><br>
                
    </form>
</main>
